html {
  height: 100%;
  width: 100%;
  background: radial-gradient(
    farthest-corner at 1500px 750px,
    #f3f4f7,
    #d9dff1,
    #91a0de,
    #91a0de
  );
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 75px repeat(3, 10%) repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.logo {
  grid-area: 1 / 1 / 2 / 2;
  /* background-color: red; */
}

#logo {
  margin-top: 4px;
  margin-left: 4px;
  height: 75px;
  width: 75px;
}

.search {
  grid-area: 1 / 2 / 1 / 5;
  /* background-color: orange; */
}

.search > input {
  margin-left: 10px;
  margin-top: 19px;
  width: 50%;
  padding: 10px;
  padding-right: 250px;
  border-radius: 40px;
  border: none;
  font-size: 14px;
  font-family: "Noto Sans Tamil Supplement";
}

.accounts {
  grid-area: 1 / 5 / 1 / 6;
  /* background-color: yellow; */
}

.accounts > a {
  width: 100px;
  margin-right: 15px;
  margin-left: 50px;
  margin-top: 17px;
  border-radius: 15px;
  border: none;
  padding: 10px;
  background-color: #0f49f5;
  color: #f3f4f7;
  font-family: "Noto Sans Tamil Supplement";
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.hero {
  grid-area: 2 / 1 / 4 / 6;
  background-image: url("heroImage.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 750px;
  /* background-color: green; */
}

#subscription {
  position: absolute;
  top: 17%;
  background-color: grey;
  padding: 240px 0px;
  width: 350px;
  border-radius: 20px;
  color: white;
  font-family: "Noto Sans Tamil Supplement";
  font-size: 20px;
  text-align: center;
}

.one {
  left: 12.25%;
}

.two {
  left: 40.79%;
}

.three {
  left: 69.34%;
}

/* #hero {
    width: 100%;
    opacity: 0.75;
  } */

.div5 {
  grid-area: 4 / 1 / 5 / 6;
  background-color: blue;
}

.div6 {
  grid-area: 5/1/6/6;
  background-color: purple;
}
